@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
.MenuBar {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  z-index: 500;
  margin-top: -100px;
}

.Buttons {
  display: grid;
}
.Buttons {
  margin-bottom: 5px;
}
.MenuBar * {
  text-align: left;
}
