.NotFoundBody {
  position: relative;
  background: #efeff7;
  width: 102%;
  height: 110%;
  text-align: center;
  align-items: center;
  padding-top: 7%;
}

.NotFoundBody img {
  min-width: 500px;
  max-width: 600px;
}
